    body {
        width: 100vw;
        height: 100vh;
        margin: 0 auto;
        overflow: hidden;
    }
    
    .banner {
        width: 100vw;
        float: right;
        position: inherit;
        overflow: hidden;
        height: 100vh;
    }
    
    .menu-principal {
        width: 100%;
        height: 0px;
        padding-left: 50px;
        position: absolute;
    }
    
    .logo {
        float: left;
        width: 11%;
        margin-left: 138px;
    }
    
    .header-2 {
        width: 957px;
        margin-left: 35%;
        padding: 12px;
    }
    
    .menu-urls {
        height: 80px;
        border-bottom: 3px solid #efefef;
    }
    
    .menu-principal ul li {
        font-family: 'Titillium Web';
        display: inline-block;
        color: #8b8b8b;
        margin-left: 15px;
        height: 50px;
    }
    
    .menu-principal ul li:hover {
        border-bottom: 3px solid #0B3D91;
    }
    
    .menu-principal ul li a:hover {
        color: #FC3D21;
    }
    
    .menu-principal ul li a {
        color: #ffffff;
        text-decoration: none;
        font-size: 18px;
        text-transform: uppercase;
    }
    
    .menu-principal {
        width: 70%;
        float: left;
    }
    
    .texto-destaque h1 {
        font-family: 'Titillium Web';
        font-size: 120px;
        height: 0em;
        position: absolute;
        text-align: center;
        width: 100%;
        margin: 20px;
        color: white;
        padding-left: 200px;
        top: 34%;
        left: 44%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
    
    .texto-destaque h5 {
        font-family: 'Titillium Web';
        height: 2em;
        position: absolute;
        text-align: center;
        width: -1%;
        margin: -1px;
        color: white;
        top: 61%;
        left: 53%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
    
    .Explore ul {
        font-family: 'Titillium Web';
        font-size: 20px;
        color: white;
        position: absolute;
        text-align: center;
        width: 69%;
        margin-top: 390px;
    }
    
    .mission ul {
        font-family: 'Titillium Web';
        color: white;
        position: absolute;
        text-align: left;
        width: 71%;
        margin-top: 621px;
    }
    
    .mission h6 {
        color: white;
    }